body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/Images/x.png");
    ;
}

.box {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px black;
    margin-top: -6rem;
    
}
h1{
    margin-left: -13rem;
}
.input {
    width: 46vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    height: 1.5rem;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 2.2rem;
    outline: none;
    background-color: #e2f2f3;
}
.password{
    height: 1.5rem;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 1rem;
    outline: none;
    background-color: #e2f2f3;
}

.show {
    margin-top: -1rem;
    margin-bottom: 0;
    align-self: flex-start;
}

.sign-in {
    height: 3rem;
    width: 100%;
    max-width: 18rem;
    margin-top: 2rem;
    background-color: #002F31;
    color: white;
    cursor: pointer;
    border-radius: 0.3rem;
}
.sign-in:hover{
    background-color: #045457;
}
.forgot{
    display: flex;
    text-align: center;
    padding: 0.5rem;

}
.forgot #forgot{
    text-decoration: none;
    margin-right: 5rem;
    color: black;
}
.forgot #sign-up{
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

.logo{
    height:100%;
    width:8rem;
    position: relative;
    top: -2.5rem;
    left: 18rem;

}
.image{
    width: 128px;
    height: 100%;
    object-fit: cover;
}

